* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
footer {
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px 0;
}


/* --------------------------------------------- Nav Manu Bar ------------------------------------ */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 1cm;
    color: #ffffff;
    text-decoration: underline;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

section {
    margin: -4px;
}

.profile-image {
    position: absolute;
    top: 50%;
    right: 50px; /* Adjust the right position as needed */
    width: 200px;
    border-radius: 50%;
    transform: translate(50%, -50%); /* Center the image vertically */
}

/* --------------------------------------------- Introduction ---------------------------------*/
.content-container {
    display: flex;
    justify-content: center; /* Center-align child elements horizontally */
    align-items: center; /* Center-align child elements vertically */
    background-color: #edf4f5; /* Background color for the section */
    color: #fff; /* Text color for the section */
}
.introduction{
    height: 200px;
    color: #333;
    text-align: center;
    padding : 1% 20%;
}
/* Define a CSS keyframe animation for typing effect */
@keyframes typing {
    from {
      width: 0;
      margin: 0 auto;
    }
    to {
      width: 100%;
      margin: 0 auto;
    }
  }    
.introduction h3 {
    text-align: center;
    overflow: hidden; 
    white-space: nowrap;
    width: 100%; 
    animation: typing 6s steps(40) infinite, blink-caret 01.5s step-end infinite;
    font-size: 40px;
    padding : 2% 0%;
    }  
.introduction p{
    font-size: 20px;
}

/* --------------------------------------------- Data Section ------------------------------*/
.data-text {    
    flex: 1; 
    color: #333;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 20px;
}
.data-img {
    flex: 1; 
    text-align: right; 
}
.data-text p{
    text-indent: 3em;
}

/* ---------------------------------------------- Research ----------------------------------*/
.research-img {
    flex: 1; /* Take up 50% of the available width */
    padding: 0 10px; /* Add some spacing to the image */
}
.research-text {
    flex: 1; /* Take up 50% of the available width */
    padding-left: 5%;
    padding-right: 10%;
    font-size: 20px;
}
.research-text h3 {
    font-size: 24px;
    color: #333;

}
.research-text p {
    color: #333;
    text-indent: 3em;
}

/* ---------------------------------------------- Analysis Section ----------------------------- */
.analysis-text {
    flex: 1; 
    color: #333;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 20px;
}
.analysis-text h3{
    font-size: 24px;
    color: #333;
}
.analysis-text p{
    color: #333;
    text-indent: 3em;
}
.analysis-img {
    flex: 1; 
    /* float: left; */
    text-align: right; 
}

/* ------------------------------------------------- TeamWork ---------------------------------------- */
.teamwork-img {
    flex: 1; /* Take up 50% of the available width */
    padding: 0 10px; /* Add some spacing to the image */
}
.teamwork-text {
    flex: 1; /* Take up 50% of the available width */
    padding-left: 5%;
    padding-right: 10%;
    font-size: 20px;
}
.teamwork-text h3 {
    font-size: 24px;
    color: #333;

}
.teamwork-text p {
    color: #333;
    text-indent: 3em;
}

/* ------------------------------------------------- Deployment ---------------------------------------- */

.deployment-text {
    flex: 1; 
    color: #333;
    padding-left: 10%;
    padding-right: 5%;
    font-size: 20px;
}
.deployment-text h3{
    font-size: 24px;
    color: #333;
}
.deployment-text p{
    color: #333;
    text-indent: 3em;
}
.deployment-img {
    flex: 1; 
    text-align: right; 
}

/* ---------------------------------------------------------------------------------- */
.dark-section {
    padding-left: 50%;
    background-color: #edf4f5;
    color: #fff;
    align: right; /* Align content to the right in dark sections */
}

.light-section {
    padding-right: 50%;
    background-color: #f7e9ec;
    color: #333;
    text-align: left; /* Align content to the left in light sections */
}

/* ------------------------------------------------ Contact Page -------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  body {
    background: #f2f4f6;
  }
  .footer_get_touch_outer {
    margin-top: 80px;
  }
  .container {
    width: 95%;
    max-width: 1140px;
    margin: auto;
  }
  .grid-70-30 {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .get_form_inner {
    display: block;
    padding: 50px 40px;
    background: #fff;
    box-shadow: -4px -2px 20px -7px #cfd5df;
  }
  input[type="text"], input[type="text"], input[type="email"], input[type="tel"] {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    height: 42px;
    padding: 0 0 0 20px;
    width: 100%;
    outline: 0;
  }
  .grid-50-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .grid-full {
    margin: 20px 0;
  }
  textarea {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    padding: 12px 0 0 20px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
  }
  .get_form_inner_text h3 {
    color: #333;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  input[type="submit"] {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid;
    font-weight: 500;
    padding: 10px 20px;
    outline: 0;
    cursor: pointer;
    color: #103e65;
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  input[type="submit"]:hover {
    background-color: #f85508;
    border-color: #f85508;
    color: #fff;
  }
  .get_say_form {
    display: inline-block;
    padding: 45px 0 25px 30px;
    background: #103e65;
    position: relative;
  }
  .get_say_form h5 {
    color: #fff;
    font-size: 26px;
    margin: 0 0 40px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .get_say_social-icn {
    display: flex;
    position: absolute;
    bottom: 40px;
  }
  .get_say_social-icn a {
    font-size: 22px;
    color: #fff;
    padding: 0 20px 0 0;
  }
  .get_say_info_sec i {
    color: #fff;
    font-size: 30px;
  }
  .get_say_info_sec > li {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin-bottom: 40px;
  }
  .get_say_info_sec > li a {
    width: 100%;
    display: block;
    padding: 15px 25px;
    color: #fff;
    font-size: 16px;
    text-decoration: unset;
    font-weight: 500;
    background: #162b65;
    border-radius: 5px 0 0 5px;
    transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -ms-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .get_say_info_sec > li a:hover {
    background-color: #f85508;
  }

/* ---------------------------------------------- */
#about, #projects, #contact {
    text-align: center;
}

.project {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}